@keyframes moveLeftIn {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes moveRightIn {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    50% {
        transform: translateX(-50px);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes moveUpIn {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    50% {
        transform: translateY(20%);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes bouns {
    0% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1.1)
    }

    100% {
        transform: scale(1);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(30deg);
    }
    33% {
        transform: rotate(0);
    }

    66% {
       transform: rotate(-33deg);
    }
    100% {
        transform: rotate(0deg);
    }
}