// Color

$color-main: #e74c3c;
$color-main-light: #e67e22;
$color-main-dark-1: #d35400;
$color-main-dark-2: #c0392b;
$color-blue-light: #3498db;
$color-blue-dark: #2980b9;
$color-green-light: #2ecc71;
$color-green-dark: #27ae60;
$color-yellow-light: #f1c40f;
$color-yellow-dark: #f39c12;
$color-pinkred: #d62b5f;
$color-footer: #2c3e50;

$color-btn-color-1: #131418;

$color-bgc-1: hsl(0, 0%, 95%);

$color-small-text: rgba(167, 167, 167, 0.95);

//--------------------------------------------
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

*:focus {
    outline: none;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: 'Lato',微軟正黑體 ,sans-serif;
    padding: 3rem;
}