.heading__primary {
    display: flex;
    flex-direction: column;
    color: #fff;
    align-items: center;
    text-transform: uppercase;
    line-height: 6rem;

    @include respond(small) {
        line-height: 4rem;
    }

    &--main {
        letter-spacing: .5rem;
        font-size: 5rem;
        font-weight: 400;
        animation: moveLeftIn 1.5s ease-out;

        @include respond(medium) {
            font-size: 4rem;
        }

        @include respond(small-2) {
            font-size: 2.5rem;
        }
        
    }

    &--sub {
        font-size: 2rem;
        letter-spacing: .5rem;
        animation: moveRightIn 1.5s ease-out;

        @include respond(small-2) {
            font-size: 1rem;
            letter-spacing: .2rem;
        }

         @include respond(smaller) {
             font-size: .8rem;
         }
    }
}

.heading__secondary {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;

    &--main {
        display: inline-block;
        text-transform: uppercase;
        font-size: 3.8rem;
        font-weight: 400;
        background-image: linear-gradient(to right, $color-main, $color-main-dark-2);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        transition: .5s;
        letter-spacing: 1px;

        @include respond(small) {
            font-size: 3rem;
        }

        &::after {
            content: "";
            display: block;
            width: 80%;
            height: 1px;
            background-image: linear-gradient(to right, $color-main-light, $color-main);
            margin: 1rem auto;
        }

        &:hover {
            transform: scale(1.15) skewY(2deg);
            text-shadow: 0 .5rem 1rem rgba(0, 0, 0, .6);
        }
    }

    &--sub {
        font-size: 2rem;
        letter-spacing: 2px;
        color: $color-small-text;
    }
}

.heading__third {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 2rem;
}
