.navigation {
    
    &__circle {
        width: 5rem;
        height: 5rem;
    //    background-image: linear-gradient(to left top, $color-main-light, $color-main-dark-2);
        border-radius: 50%;
        position: fixed;
        top: 5rem;
        right: 5rem;
        z-index: 500;
        animation: rotate 5s linear infinite alternate;
        box-shadow: 0 0 1rem rgba(0,0,0, .4);
        transition: .2s;

        @include respond(small) {
            top: 2rem;
            right: 2rem;
        }

        &:hover {
            top: 4.4rem;
            box-shadow: 0 1rem 4rem rgba(0, 0, 0, .4);
        }

        &:active {
            animation-play-state: paused;
            top: 4.7rem;
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, .4);
        }
    }

    &__nav {
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 200;
        display: none;
        margin: 0;
        padding: 0;
    }

    &__list {
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(#fff, .4);
    }

    &__item {
        margin-bottom: 2rem;
        transition: .2s;
        padding: 2rem;
        background-image: linear-gradient(to right bottom, transparent 50%, $color-main 50%);
        background-size: 300%;
        border-radius: 3px;
        transition: .5s;

        &:hover {
           background-image: linear-gradient(to right bottom, transparent 50%, $color-main 50%);
            background-position: 100%;
        }

        @include respond(small) {
            margin-bottom: 1rem;
        }

        @include respond(small-2) {
            padding: .5rem;
        }
    }

    &__item:hover &__link {
        color: #fff;
    }

    &__link {
        &:link,
        &:visited {
            text-decoration: none;
            color: #000;
            font-size: 4rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            transition: .2s;
            position: relative;
            opacity: 1;

            @include respond(small) {
                font-size: 3rem;
            }

            @include respond(small-2) {
                font-size: 2.5rem;
            }
        }
        
    }

}

.bg-video {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;

    &__content {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}